$banner_height: 90px;
$banner_width: 728px;
$isi_height: 76px;
$isi_width: 100px;
$pi_height: 14px;
/////////////////////////////////////////////////////
#container {
  height: $banner_height;
  width: $banner_width;
}
#background-holder {
  height: $banner_height;
  width: $banner_width - $isi_width;
}
/////////////////////////////////////////////////////
#frame2-copy1 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame2-copy2 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame3-copy1 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame3-cta {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}

//%%%% ImageCSS %%%%





/////////////////////////////////////////////////////
#ISI {
  border-left: 1px solid #9a9b9e;
  bottom: $pi_height;
  height: $isi_height;
  left: unset;
  right: 0;
  width: $isi_width;
}

#ISIWrapper {

}
#ISICopy {
  padding-bottom: 20px;
}

#PI {
  border-left: 1px solid #9a9b9e;
  bottom: 0px;
  left: unset;
  right: 0;
  width: $isi_width;
  height: $pi_height;
  font-size: 9px;
  text-align: center;
  padding: 2px 0;
}