$font-family: 'Lato', sans-serif;;
$primary-color: #48326F;
$secondary-color: #F0D088;
.primary-color {color: $primary-color;}
.secondary-color {color: $secondary-color;}
.blue-color { color: #1D2B58 }

.text-white {color: #fff;}
.text-bold {font-weight: bold;}
.text-center {text-align: center;}
.uppercase {text-transform: uppercase}
.nowrap { white-space: nowrap; }
.pos-abs {position: absolute; }
.hide { opacity: 0; }

.fw-400 {font-weight: 400} // regular
.fw-500 {font-weight: 500} // medium
.fw-600 {font-weight: 600} // semibold
.fw-700 {font-weight: 700} // bold
.fw-800 {font-weight: 800} // extrabold
.fw-900 {font-weight: 900} // black

.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
sup {
  font-size: 60%;
  line-height: 0;
}