$font-family: Arial, sans-serif;
$primary-color: #140FA5;
$secondary-color: #4D4D4F;
.primary-color {color: $primary-color;}
.secondary-color {color: $secondary-color;}

.text-white {color: #fff;}
.text-bold {font-weight: bold;}
.text-center {text-align: center;}
.text-uppercase, .uppercase {text-transform: uppercase}
.nowrap { white-space: nowrap; }
.pos-abs {position: absolute; }
.hide { opacity: 0; }
.underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
sup {
  font-size: 60%;
  line-height: 0;
}
.fw-400 {font-weight: 400}; // regular
.fw-500 {font-weight: 500}; // medium
.fw-600 {font-weight: 600}; // semibold
.fw-700 {font-weight: 700}; // bold
.fw-800 {font-weight: 800}; // extrabold
.fw-900 {font-weight: 900}; // black

.font-arial { font-family: Arial, sans-serif; }
.font-brand { font-family: 'Montserrat', sans-serif; }


////////////////////////////////////////////////////////////
#container {
  opacity: 1.0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;

  font-family: $font-family;
}

#background-holder {
  background: #fff;
  cursor: pointer;
  left: -1px;
  overflow: hidden;
  position: absolute;
  top: -1px;
}
////////////////////////////////////////////////////////////
#frame3-cta {
  color: #fff;
  background: $primary-color;
}

////////////////////////////////////////////////////////////
#ISI {
  background: #fff;
  cursor: default;
  left: 0;
  font-size: 9px;
  line-height: 11px;
  overflow: hidden;
  position: absolute;
  font-family: Arial, sans-serif;

  ul {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 13px;

    li {
      padding-bottom: 5px;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  h1 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin: 1px 0;
    color: $primary-color;
    padding-bottom: 4px;
  }
  h2 {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin: 1px 0;
    color: $primary-color;
    padding-bottom: 4px;
  }

  .signOff {
    font-size: 7px;
    line-height: 8px;
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-top: 0;
  }
}

#ISIWrapper {
  overflow: auto;
  width: 100%;
  //height: calc(100% - $pi_height);
  //Margin top otherwise ISI static text crashes
  padding: 6px 20px 0 10px;
}

#ISICopy {
  // padding-bottom: 40px;
}


#PI {
  background-color: #F5FAFD;
  color: #000;
}

#PI_Link {
  bottom: 0;
  font-size: 9px;
  position: absolute;
  text-align: center;
}


#ISI-title {
  background: #E5E5E5;
  color: #000;
}
