<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{{!-- {{#is title "160x600"}}
    <meta name="ad.size" content="width=160,height=600">
{{/is}}
{{#is title "300x250"}}
    <meta name="ad.size" content="width=300,height=250">
{{/is}}
{{#is title "500x60"}}
    <meta name="ad.size" content="width=500,height=60">
{{/is}}
{{#is title "728x90"}}
    <meta name="ad.size" content="width=728,height=90">
{{/is}} --}}
<title>{{title}}</title>
<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    body {
        background-color:#fff;
        color: #000;
        font-size: 8px;
        font-family: Arial, sans-serif;
        left:0;
        line-height: 10px;
        margin: 0;
        overflow:hidden;
        position: absolute;
        top:0;
    }
    #container	{
        border: 1px solid #000;
        opacity: 0.0;
        overflow: hidden;
        position: absolute;
    }
    
</style>