<div id="ISI" class="blueText">
    <div id="ISI-title" class="uppercase text-bold">Important Safety Information and Indication</div>
    <div id="ISIWrapper">
    <div class="ISICopy" id="ISICopy">

        <h1>Contraindications</h1>
        <ul>
            <li>Decompensated cirrhosis and/or severe hepatic impairment.</li>
            <li>Hypersensitivity to PRODUCT or any excipients in PRODUCT. Hypersensitivity reactions, including rash, have been reported with PRODUCT.</li>
        </ul>


        <h1>Warnings and Precautions</h1>

        <ul>
            <li>PRODUCT has not been studied in patients with acute hepatic impairment. In patients who develop acute hepatic impairment, PRODUCT should be stopped until the acute impairment has been resolved.</li>
            <li>PRODUCT has not been studied in patients with alcohol-related liver disease and should be used with caution in such patients.</li>
            <li>PRODUCT has not been studied in patients with other underlying liver disease (e.g., autoimmune hepatitis, PBC or viral hepatitis) and should be used with caution in these patients.</li>
            <li>In clinical trials, cholecystitis and cholelithiasis were reported more often in PRODUCT-treated patients than in placebo-treated patients. If cholelithiasis is suspected, gallbladder diagnostic studies and appropriate clinical follow-up are indicated.</li>
        </ul>


        <h1>Adverse Reactions</h1>
        <p>Because clinical trials are conducted under widely varying conditions, adverse reaction rates observed in the clinical trials of a drug cannot be directly compared with rates in clinical trials of another drug and may not reflect the rates observed in clinical practice.</p>
        <p>The safety of PRODUCT has been evaluated in 1794 non-cirrhotic NASH patients who received at least one dose of PRODUCT at 80 mg or 100 mg orally once daily. The most common adverse reactions (at approximately 10% and higher incidence compared to placebo) included diarrhea and nausea.</p>
        <p>In Study 1 (MAESTRO-NASH) in patients with noncirrhotic NASH with liver fibrosis, 645 F1B/F2/F3 patients received PRODUCT 80 mg or 100 mg once daily (80 mg, n=322; 100 mg, n=323).</p>
        <ul>
            <li>In MAESTRO-NASH, 7% (80 mg) and 11% (100 mg) of patients treated with PRODUCT, compared to 6% of patients on placebo, stopped study treatment because of an adverse reaction.</li>
            <li>The most common adverse reaction leading to discontinuation of PRODUCT was diarrhea, leading to discontinuation in 0.6% (80 mg, 2/322) and 3% (100 mg, 10/323) of patients treated with PRODUCT compared to 0.3% (1/321) of patients on placebo.</li>
        </ul>

        <p>Adverse reactions reported in &ge; 5% of patients treated with PRODUCT in MAESTRO-NASH included the following for PRODUCT 80 mg dose (n=322), PRODUCT 100 mg dose (n=323), and placebo (n=321), respectively: diarrhea (27%, 33%, 16%), nausea (22%, 19%, 12%), pruritis (8%, 12%, 7%), vomiting (9%, 11%, 5%), abdominal pain (8%, 9%, 6%), constipation (7%, 9%, 5%), and dizziness (6%, 6%, 3%).</p>
        <p>In Study 2 (MAESTRO-NAFLD-1), a non-biopsy, presumed NASH Phase 3 double-blind, placebo-controlled safety study, with an open-label 100 mg arm and an open-label extension study, 627 patients received PRODUCT for at least 48 weeks. In MAESTRO-NAFLD-OLE, a 52-week open label extension study, 172 patients received PRODUCT for up to 52 weeks (86 at 80 mg then up-titrated to 100 mg; 86 at 100 mg) after receiving placebo in MAESTRO-NAFLD-1 for 52 weeks; and 341 patients received PRODUCT (80 and/or 100 mg) for 104 weeks across MAESTRO-NAFLD-1 and MAESTRO-NAFLD-OLE. In MAESTRO-NAFLD-1 and MAESTRO-NAFLD-OLE, the adverse reactions seen, including those leading to discontinuation of PRODUCT were not different either from those seen in MAESTRO-NASH or across the full safety population for PRODUCT.</p>

        <h1>Less Common Adverse Reactions:</h1>
        <p>Cholelithiasis and cholecystitis: The incidence of cholecystitis in PRODUCT-treated patients was 0.7% for 80 mg and 0.8% for 100 mg versus 0.4% in placebo. Approximately 10-15% of the combined study populations (across Phase 2 and 3 studies) had a history of cholelithiasis and 18% had had a cholecystectomy at baseline. The incidence of newly reported cholelithiasis was more common in PRODUCT at 80 mg (1.3%) and 100 mg (1.5%) versus placebo (0.3%).</p>

        <h1>Laboratory Tests:</h1>

        <p>Free Thyroxine (FT4): A decrease in prohormone FT4 of mean 14% (80 mg) and 18% (100 mg) was seen in patients treated with PRODUCT, with no changes in active hormone T3 or in TSH. There were no clinical findings associated with FT4 decreases.</p>

        <h1 class="uppercase">Drug Interactions</h1>

        <ul>
            <li>HMG-CoA reductase inhibitors (statins): PRODUCT mildly increased plasma concentrations of some statins.</li>
            <ul>
                <li>Rosuvastatin and simvastatin: Limit daily dose to 20 mg.</li>
                <li>Pravastatin and atorvastatin: Limit daily dose to 40 mg.</li>
            </ul>
            <p>Clopidogrel: Clopidogrel mildly increased plasma concentrations of PRODUCT.</p>
            <ul>
                <li>PRODUCT: Recommend daily dose of 80 mg.</li>
            </ul>
            <li>Strong OATP1B1, OATP1B3 and/or BCRP transporter inhibitors (e.g., cyclosporin, gemfibrozil, many anti-viral medications): Though not studied, because of their known inhibition of transporters and potential to significantly increase plasma concentrations of PRODUCT, such agents should not be used concomitantly with PRODUCT.</li>
        </ul>

        <h1 class="uppercase">Use in Specific Populations</h1>

        <h1>Pregnancy</h1>
        <p>Discontinue PRODUCT when pregnancy is recognized unless the benefits of therapy outweigh the potential risks to the fetus. There are no available data on PRODUCT use in pregnant women to evaluate for a drug-associated risk of major birth defects, miscarriage, or adverse maternal or fetal outcomes. In animal reproduction studies, no embryofetal developmental toxicity was found in pregnant rats or rabbits administered PRODUCT at oral doses up to 100 mg/kg/day during the period of organogenesis.</p>
        <p>Animal Data</p>
        <p>Reproductive investigations with PRODUCT (embryofetal development and fertility) have been completed in rats and rabbits. No adverse effects on fertility were observed in male or female rats. No embryofetal developmental toxicity was found in rats or rabbits. Of note, these species do not have MGL-3623 (the major metabolite of PRODUCT) levels comparable to those seen in humans. An embryofetal study in rats with MGL-3623 showed no findings.</p>

        <h1>Lactation:</h1>
        <p>There is no information regarding the presence of PRODUCT in human milk, the effects of the drug on the breast-fed infant, or the effects of the drug on milk production. The developmental and health benefits of breastfeeding should be considered along with the mother's clinical need for PRODUCT and any potential adverse effects on the breastfed infant from PRODUCT or from the underlying maternal condition.</p>
        <p>Animal Data</p>
        <p>A prenatal and postnatal reproduction study conducted with resmetirom at doses up to 100 mg/kg/day by oral gavage in rats and included a postnatal behavioral and functional evaluation was conducted in female Sprague Dawley CD rats and their offspring. All clinical observations at doses up to and including 30 mg/kg/day were considered unrelated to maternal administration of resmetirom. No adverse effects on lactation were observed in the female rats or their offspring.</p>

        <h1>Pediatric Use</h1>
        <p>The safety and effectiveness of PRODUCT have not been established in pediatric patients.</p>

        <h1>Geriatric Use</h1>
        <p>Of the 1794 patients with NASH in clinical trials of PRODUCT who received recommended dosage (80 mg or 100 mg), 440 (25%) were 65 years of age or older and 54 (3%) were 75 years of age and older. In MAESTRO-NASH, 80 mg was at least as effective as 100 mg in study patients. Discontinuation rates among older patients in MAESTRO-NASH were higher at 100 mg than 80 mg.</p>


        <h1>Renal Impairment</h1>
        <p>No dosage adjustment is necessary in patients with mild or moderate renal impairment. PRODUCT has not been studied in patients with severe renal impairment.</p>

        <h1>Hepatic Impairment</h1>
        <p>No dosage adjustment is necessary in patients with mild hepatic impairment (Child-Pugh A). In patients with moderate hepatic impairment (Child-Pugh B), a 60 mg dose should be used with caution. PRODUCT should not be used in patients with severe hepatic impairment (Child-Pugh C) or acute hepatic impairment.</p>

        <h1 class="uppercase">Indication</h1>
        <p>PRODUCT is a Thyroid Hormone Receptor Beta (THR-Beta) selective agonist indicated for the treatment of adults with nonalcoholic steatohepatitis (NASH) with liver fibrosis.</p>
        <p>This indication is approved under accelerated approval based on improvement of NASH and fibrosis. Continued approval for this indication may be contingent upon verification and description of clinical benefit in confirmatory trials.</p>



        <p class="text-bold">Please see the full <span class="clickTag2 primary-color underline">Prescribing Information</span> for PRODUCT X.</p>

        <div class="isi-logo"></div>

        <p class="signoff">
            &copy; 2024 Madrigal Pharmaceuticals, Inc.
            <br>
            US-PP-RES-00063   03/24
        </p>



    </div>  <!-- ISI Copy -->
  </div>
</div>




