$font-family: 'Lato', sans-serif;;
$primary-color: #48326F;
$secondary-color: #F0D088;
.primary-color {color: $primary-color;}
.secondary-color {color: $secondary-color;}
.blue-color { color: #1D2B58 }
