<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{{#contains title "160x600"}}
    <meta name="ad.size" content="width=160,height=600">
{{/contains}}
{{#contains title "300x250"}}
    <meta name="ad.size" content="width=300,height=250">
{{/contains}}
{{#contains title "500x60"}}
    <meta name="ad.size" content="width=500,height=60">
{{/contains}}
{{#contains title "728x90"}}
    <meta name="ad.size" content="width=728,height=90">
{{/contains}}
<title>{{title}}</title>
<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    body {
        background-color:#fff;
        color: #000;
        font-size: 8px;
        font-family: Arial, sans-serif;
        left:0;
        line-height: 10px;
        margin: 0;
        overflow:hidden;
        position: absolute;
        top:0;
    }
    #container	{
        border: 1px solid #000;
        opacity: 0.0;
        overflow: hidden;
        position: absolute;
    }
    {{#contains title "160x600"}}
        body {
            height:600px;
            width:160px;
        }
        #container	{
            height:600px;
            width:160px;
        }
    {{/contains}}

    {{#contains title "300x250"}}
        body {
            height:250px;
            width:300px;
        }
        #container	{
            height:250px;
            width:300px;
        }
    {{/contains}}

   {{#contains title "500x60"}}
        body {
            height:60px;
            width:500px;
        }
        #container	{
            height:60px;
            width:500px;
        }
    {{/contains}}


    {{#contains title "728x90"}}
        body {
            height:90px;
            width:728px;
        }
        #container	{
            height:90px;
            width:728px;
        }
    {{/contains}}
</style>