$banner_height: 600px;
$banner_width: 160px;
$isi_height: 76px;
$pi_height: 14px;
/////////////////////////////////////////////////////
#container {
  height: $banner_height;
  width: $banner_width;
}
#animate-section {
  height: $banner_height - $isi_height - $pi_height;
  width: $banner_width;
}
/////////////////////////////////////////////////////
#frame2-copy1 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame2-copy2 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame3-copy1 {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}
#frame3-cta {
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 0 0;
  top: 0;
  left: 0;
}

//%%%% ImageCSS %%%%





/////////////////////////////////////////////////////
#ISI {
  border-top: 1px solid #9a9b9e;
  bottom: $pi_height;
  height: $isi_height;
  width: $banner_width;
}

#ISIWrapper {

}

#ISICopy {
  padding-bottom: 20px;
}

#PI {
  bottom: 0px;
  left: 0;
  width: $banner_width;
  height: $pi_height;
  font-size: 9px;
  text-align: center;
  padding: 2px 0;
}